$ git rm -r --cached .
$ git add .
$ git commit -m "Apply .gitignore"
$ git push


# Created by https://www.toptal.com/developers/gitignore/api/java,macos
# Edit at https://www.toptal.com/developers/gitignore?templates=java,macos

### Java ###
# Compiled class file
*.class
